



*mp4
!examples/*.mp4
data/*
logs/*



*pyc

checkpoints/*





*egg-info

frames




*png
!doc/main-teaser.png

*gif


*ipynb
daniel_tools
daniel_tools/*


*jpg


build


run*sh


.m*







scripts/*



*.sh
wandb
benchmark
*jsonl
*json
*npz
DKT_models
trash
gradio
tmp*
*.webp
*.ico
*.model
__pycache__/
*.pyc
**/tokenizer_configs/**/vocab.txt
**/tokenizer_configs/**/spiece.model
**/tokenizer_configs/**/tokenizer.model



dist
build

